
$animate: all 0.2s ease-in-out;

.navbar{
  background-color: white;
  user-select: none;
  text-decoration: none;
  font-size: 1.2rem;
  height: 12vh;
  width: 100%;
  z-index: 5000;

  @include respond(tab-land) { // width < 1200?
    height: 6vh;
}
 
 
 //background-image:linear-gradient(to right bottom ,yellow, orange);

  display: grid;
  position: fixed;
  &::after{
      content:"";
      width: 100%;
      box-shadow: inset 0px 4px 8px -3px rgba(17,17,17,0.3);
      height: 5px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
  }

  grid-template-columns:[menu-s]5% [menu-e]68%
                        [portfolio-s]5%[portfolio-e]5%
                        [about-s] 5% [about-e] 2%
                        [hire-me-s] 5% [hire-me-e]
                        
  ;
  @include respond(tab-land) { // width < 1200?
    grid-template-columns:[menu-s]5% [menu-e]1fr
                        [portfolio-s]5%[portfolio-e]2%
                        [hire-me-s] 10% [hire-me-e]
                        
  ;
}

  
 

   &__menu{
   position: relative;
    width: 7rem;
    
     //background-color: blue;
    grid-column: menu-s/menu-e;
    border-right: 1px solid rgba(17,17,17,0.3) ;
    //box-shadow:   3px -3px rgba(17,17,17,0.3);
    //border right shadow box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.51);
   
   }
   &__portfolio{
     width: 8rem;
    align-self: center;
    justify-self: center;
   // margin-left: 5%;
    //background-color: red;
    grid-column: portfolio-s/portfolio-e;
    position: relative;
    transition: $animate;
    &:before{
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: darken(blue,5%);
      left: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: darken(blue,5%);
      right: 50%;
    }

    &:active,
    &:hover{
      cursor: pointer;
     // .navbar__portfolio{
       &:before{
      //border-bottom: 1 px solid blue;
      
        width: 40%;
        opacity: 1;
    }
    &:after{
      //border-bottom: 1 px solid blue;
      
        width: 50%;
        opacity: 1;
    }
  }
  }
  
  &__hire-me{
    align-self: center;
    width: 5rem;
    height: 2rem;
    justify-self: center;
    text-align: center;
   // margin-left: 5%;
    //background-color: red;
    grid-column: hire-me-s/hire-me-e;
   
  }
  
}

.fas{
  font-size: 2.5rem;
  color: rgb(68, 66, 66);
}
.fa-bars{
  position: absolute;
  margin-left: 5%;
  top:1.4rem;
  left:2rem;
  height:2.5rem;
  
  &:hover{
    height: 2.8rem;
    top:1.2rem;
  }

}
