$color-blue-primary: rgb(9, 130, 134);
$color-blue-secondary: rgb(22, 19, 243);
$color-green-primary: rgb(18, 202, 18);
$color-green-secondary: rgb(21, 59, 6);
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-white:white;
$color-black:black;
$color-grey-light-2:grey;
// FONT
$default-font-size: 0.8rem;